/* When including a SCSS file, then it gets inlined in compilation. THat is the values are taken from the partial
and inlined into the file. A CSS file would be kept separately and it would be queried for separately. */
@import "_variables.scss";
@import "typography.scss";
/* SASS uses indentation instead of curlies and no end of line ;. However, SCSS keeps these. */

/* A reusable function. Can provide a parameter as well. */
@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content; /* Can provide dynamic content. */
  }
}

html {
  font-size: 94.75%;

  /* Can nest media queries to group the code better and avoid having to rewrite the selector again. */
  @include media-min-width(40rem) {
    font-size: 125%; /* Dynamic content is given as such */
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  @include display-flex();
  /* Can write dash separated properties as nested properties. */
  flex: {
    direction: column;
    wrap: nowrap;
  }
  align-items: center;
  padding: $size-default * 3 0;
  box-sizing: border-box;
}

.sass-section {
  border: $border-default;
  background: lighten(map-get($colors, main), 72%);
  text-align: center;
  width: 90%;
  box-sizing: border-box;

  @media (min-width: 40rem) {
    width: 30rem;
  }
}

.sass-introduction {
  @extend .sass-section;
  padding: $size-default * 2;
  box-shadow: $size-tiny $size-tiny $size-tiny / 2 #ccc;
}

.sass-introduction p {
  margin: 0;
}

.sass-details {
  @extend .sass-section;
  padding: $size-default;
  margin: $size-default * 2 0;
}

.section-header {
  border-bottom: $border-default;
}

.section-header h1 {
  margin: 0 0 $size-default 0;
}

.documentation-links {
  list-style: none;
  margin: $size-default 0 0 0;
  padding: 0;
  @include display-flex();
  flex-direction: column;

  li {
    margin: $size-tiny 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: map-get($colors, main);
    display: block;
    padding: $size-tiny;
    border: $border-default;

    /* & means that it should be connected with the parent selector. */
    &:hover,
    &:active {
      color: white;
      background: map-get($colors, secondary);
      border-color: map-get($colors, secondary);
    }
  }
}
